@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html{
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins, Helvetica, sans-serif;
}
.text-brand-purple-primary-500{
  color: #522d96
}
.b2{
  font-size: 29px;
  margin-bottom: 5px;
  line-height: 35px;
  color: #331964;
}
.b1{
  font-size: 45px;
  color: #331964;
}
.bg-brand-purple-primary-100{
  background: #d3bdfc;
  border-radius: 30px;
  padding-top: 20px;
}
.bg-brand-purple-primary-900{
  background-color: #331964;

}